extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='POST')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='first and last' name='name')
    button.btn.btn-primary(type='submit') submit
